# --------
# requires
# --------

fspath

# --------------
# tests_requires
# --------------

pip
tox
pytest
pytest-cov
pylint

# -------
# develop
# -------

Sphinx
sphinx_rtd_theme
pip
#twine
#wheel
#mock
